body {font-family: arial;}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
.mainContainer {
    width: 50%;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0.3em;
    min-height: 370px;
    position: relative;

}

#step {
    background: #eee;
    padding: 0.2em;
}

/*               MENU BUTTONS            */
.ui-button-icon-primary.ui-icon.trainIcon {
    height: 200px;
    width: 200px;
    margin: 10px 0 2em -50px;
    text-align: center;
    left: 50%;
    top: 5px;
    background-image: url("images/icons/start.png") !important;
    background-size: 80px 60px;
}

.ui-button-icon-primary.ui-icon.recognizeIcon {
    height: 132px;
    width: 258px;
    margin: 10px 0 2em -16px;
    text-align: center;
    left: 40%;
    top: 5px;
    background-image: url("images/icons/recognize.jpeg") !important;
}

#go_recognize .ui-button-text{
    margin-top: 60px;
}

.ui-button-icon-primary.ui-icon.homeIcon {
    height: 32px;
    width: 32px;
    margin: 0px 0 2em -15px;
    text-align: center;
    left: 50%;
    top: 5px;
    background-image: url("images/icons/home.jpeg") !important;
    background-size: 30px 30px;
}

.ui-button-icon-primary.ui-icon.calibrateIcon {
    height: 200px;
    width: 200px;
    margin: 10px 0 2em -50px;
    text-align: center;
    left: 50%;
    top: 5px;
    background-image: url("images/icons/calibration.jpeg") !important;
    background-size: 90px 90px;
}

.ui-button-icon-primary.ui-icon.addDataIcon {
    height: 32px;
    width: 32px;
    margin: 0px 0 2em -15px;
    text-align: center;
    left: 50%;
    top: 5px;
    background-image: url("images/icons/add_data.jpeg") !important;
    background-size: 30px 30px;
}

.ui-button-icon-primary.ui-icon.testIcon {
    height: 32px;
    width: 32px;
    margin: 0px 0 2em -15px;
    text-align: center;
    left: 50%;
    top: 5px;
    background-image: url("images/icons/test.jpeg") !important;
    background-size: 30px 30px;
}

.ui-button-icon-primary.ui-icon.readyIcon {
    height: 30px;
    width: 30px;
    margin: 0px 0 2em -50px;
    text-align: center;
    left: 50%;
    top: 10px;
    background-image: url("images/icons/ready.jpeg") !important;
    background-size: 30px 30px;
}

.ui-button-text-icon-primary .ui-button-text {
    display: block;
    position: static;
    padding: 70px 10px 5px 10px;
}

#do_train.ui-button-text-icon-primary .ui-button-text {
    display: block;
    position: static;
    padding: 0px 0px 5px 10px;
}

#go_train{
	width: 575px;
	height: 154px;
}

#go_recognize{
	width: 575px;
    height: 185px;
}

#go_home{
	width: 40px;
}

#go_home, #do_train, #do_test, #exec_train{
	height: 40px;
	margin-right: 5px;
}

#do_train, #do_test, #exec_train{
	width: 160px;
}

#go_calibrate{
	width: 575px;
	height: 240px;
    margin-top: 1em;
}

#ready{
	width: 130px;
	height: 50px;
	top: -70px;
	left: 40px;
}
#ready.ui-button-text-icon-primary .ui-button-text{
	padding: 0px 10px 5px 52px !important;
}
#fullRecognized {
    font-size: 120%;
    margin: 2em 0 0 2em;
    display: inline-block;
}
#recognized{font-size: 150%;
    color: #2F7F9E;
    margin-left: 0.1em;
    display: inline-block;
}

#start_recognize{
}

/*               END OF MENU BUTTONS            */

.clear{
	padding:5px;
	clear:both
}


/* Training icons */
#training_icon{
	width: 180px;
	height: 180px;
	margin-top: 10px;
}

/*  Global view */

#menu_content{
    clear: both;
    float: left;
    width: 100%
}
#menu_content {
}
#top_menu {
}
.fileupload-buttonbar
{
    width: 80%;
    margin: 0 auto;
}
#addingArea {
    margin-top: 1.3em;

}

#bottom_menu{
    position: absolute;
    bottom: 0.2em;
    left: 1%;
}

#accounts{
    width: 40%;
    float: right;
    margin-right: 1em;
    text-align: right;
}

#allSigns{
    overflow-y: scroll;
    height: 250px;
}

.bottomLabel{
    display: block;
    width: 100%;
    text-align: center;
}

.signDiv{
    float:left;
    width: 70px;
    background-color: transparent;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #444;
}

.signImage{
    height: 70px;
    margin: 6px;
    max-width: 58px;
}

.info_message, .message{
    position: absolute;
    width: 98%;
    z-index: 10;
    opacity: 0.9;
    cursor: pointer;
}
.message-container p{margin-left: 1%;}

.ui-state-error{
}

.top10{
    margin-top: 10px;
}

.top65{
    margin-top: 65px;
}

.unknown{

    box-shadow: 0px 0px 15px #444;
}

.bad{

    box-shadow: 0px 0px 15px red;
}

.good{

    box-shadow: 0px 0px 15px green;
}

.title{
    color: gray;
    font-style: italic;
    width: 50%;
    float: left;
}
