{% extends "base.html" %} {% block content %}

    <iframe name="cwindow" id="cwindow" style="border:0px double;"
            style="border:1px double;" width="0" height="0"
          src="http://translate.google.com/translate_tts?tl=en&q="
            rel='noreferrer'></iframe>


<div id= 'menu_content'>{% csrf_token %}
    <div id= 'step'>Step : Recognizing</div>
    <div id = "text"></div>
    <div class="recognitionContent">
        <div id = "fullRecognized">hello</div><span id = "recognized">w</span>

    </div>

</div>
    <div id = 'bottom_menu' class="top10">
        <button id="go_home"></button>
        <button type="submit" value = "1" id="start_recognize">Start</button>
        <button id="play" >Play</button>
    </div>

<script type="text/javascript">
	$(document).ready(function() {
		$.getScript("/media/navigation_management.js"); 
		$.getScript("/media/dynamic_css_management.js");


        var controller = new NetworkManagement();
        $("#start_recognize").bind('click', {ths: controller}, controller.begin_to_recognize);

        function endOfSentenceCheck(event)
        {
            var text = $("#fullRecognized").text();
            var lastLetter = text.substring(text.length-1);
            if(lastLetter == "."){
                hear();
            }
         }

        $("#fullRecognized").bind('DOMNodeInserted', endOfSentenceCheck); //DOMNodeRemoved

        function hear()
        {
            var pqr = $("#fullRecognized").text();
            document.getElementById("cwindow").src = "http://translate.google.com/translate_tts?tl=en&q="+pqr + "&tl=en&total=1&idx=0&textlen=4&prev=input";
            document.getElementById("cwindow").contentWindow.location.reload();
        }

        $("#play").bind('click',hear);

	});
</script>




{% endblock %}
