{% extends "base.html" %} {% block content %}

    <script type="text/javascript">
        window.customFiles = [];
        var userClassInfo = new Map();
        var userId = '{{user.id}}';
{#        alert('{{ userClassInfo }}');#}
    </script>

    {% for userClass in userClassInfo %}
        <script type="text/javascript">
            userClassString = '{{userClass}}'.replace(/\&#39;/g, "").replace("[", "").replace("]", "");
            var userClass = userClassString.split(",");
            userClassInfo.put(userClass[1].trim(), userClass[2].trim());
        </script>

    {% endfor %}

    {% for image in filedict %}
        <script type="text/javascript">window.customFiles.push('{{image}}');</script>
    {% endfor %}


    <div id= 'menu_content'>{% csrf_token %}
        <div id= 'step'>Step : Status of your signs</div>
        <div id = 'top_menu'>
            <div class='clear' />
        </div>

        {% load staticfiles %}
        <div id="allSigns"></div>


        <div id = 'bottom_menu'>
            <div class='clear' />
            <button id="go_home" />
        </div>
    </div>

    <script type="text/javascript">
        var onlyonce = 0;
        $(document).ready(function() {
            getScripts();

            function getScripts() {
                if (onlyonce === 0) {
                    grabScript();
                }
            };

            function grabScript() {
                onlyonce = 1;
                $.getScript("/media/navigation_management.js", function() {});
                $.getScript("/media/dynamic_css_management.js", function() {});
            }


            var controller = new NetworkManagement();

            controller.fetch_all_signs();
//            $("#skip").bind('click', {ths: controller}, controller.skip);



        });
    </script>

{% endblock %}
