{% extends "base.html" %} {% block content %}

    <script type="text/javascript">
        var userClassInfo = new Map();
    </script>

    {% for userClass in userClassInfo %}
        <script type="text/javascript">
            userClassString = '{{userClass}}'.replace(/\&#39;/g, "").replace("[", "").replace("]", "");
            var userClass = userClassString.split(",");
            userClassInfo.put(userClass[1].trim(), userClass[2].trim());
        </script>

    {% endfor %}

    {% for image in filedict %}
        <script type="text/javascript">window.customFiles.push('{{image}}');</script>
    {% endfor %}

<div id= 'menu_content'>{% csrf_token %}
	<div id= 'step'>Step : Adding information</div>
    <div id = 'top_menu'>
        <button id="do_clear" >Reset</button>
        <button id="skip" disabled>Skip</button>
        <button id="go_status">Show all</button>
        <button id="add_sign" disabled>Add sign</button>
    </div>



    {% load staticfiles %}
    <div id = "trainingArea">
        <img id = "training_icon" src="{{ STATIC_URL }}images/set/a.jpg" />

        <button type="submit" id="ready" >Ready</button>
    </div>

    <div id = "addingArea" style="display: none">
        <form id="fileupload" action="/glove/upload/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="fileupload-buttonbar">
                 <span class="fileinput-button">
                     <input type="file" name="file" id="upload_file">
                 </span>
                <input type='input' name="sign" id= "sign">
                <button type="submit" class="start">Add</button>

            </div>
        </form>
    </div>

    </div>
    <div id = 'bottom_menu'>
        <div class='clear' />
        <button id="go_home" />
        <button id="exec_train" >Train</button>
        <button id="do_test" disabled>Test</button>
    </div>

<script type="text/javascript">
	var onlyonce = 0;
	$(document).ready(function() {
		getScripts();

		function getScripts() {
			if (onlyonce === 0) {
				grabScript();
			}
		};

		function grabScript() {
			onlyonce = 1;
			$.getScript("/media/navigation_management.js", function() {});
			$.getScript("/media/dynamic_css_management.js", function() {});
		}


        if('{{user.is_authenticated}}' == 'True'){
            $("#add_sign").enable();
            $("#do_clear").enable();
            $("#skip").enable();
            $("#ready").enable();
            $("#exec_train").enable();

        }

        var controller = new NetworkManagement();
        controller.init();

        $('#fileupload').ajaxForm({
            beforeSubmit: function() {
                var path = $("#upload_file").val();
                var ext = path.substring(path.indexOf(".")); //.png
                var newFileName = $("#sign").val() + ext;
                window.customFiles.push(newFileName);
            },
//            success: function(data) {
//
//                $('#trainingArea').css("display", "block");
//                $('#addingArea').css("display", "none")
//            }
            complete : controller.add_sign_complete_handler
        });
		
		var info_for_user = "Please fix your gesture and when you're ready, click 'Ready'<br>"+
							" Every gesture is repeated 4 times.   "
		$(".info_message").message({type:"info", message: info_for_user});
		
		$("#ready").bind('click', {ths: controller}, controller.take_snapshot);
		
		$("#exec_train").bind('click', {ths: controller}, controller.trainTheNetwork);
		
		$("#do_test").bind('click', {ths: controller}, controller.testTheNetwork);

        $("#do_clear").bind('click', {ths: controller}, controller.clearOldTrainingData);

        $("#skip").bind('click', {ths: controller}, controller.skip);

        $("#add_sign").bind('click', {ths: controller}, controller.add_sign);


		
	});
</script>

{% endblock %}
